.ourWorkWrapper {
    position: absolute;
    visibility: hidden;
    display: flex;
    justify-content: space-between;
    left: 0;
    top: 100%;
    z-index: 2;
    width: 100%;
    height: 463px;
    border: 0.5px solid #aaaaaa;
    background: #ffffff;
    padding-inline: 2%;
    cursor: default;

    .ourWorkLeftPart {

        display: flex;
        justify-content: space-between;
        width: 53%;
        cursor: default;

        @media (max-width:1356px) {
            padding-right: 30px;

        }

        .ourWorkList {
            display: flex;
            flex-direction: column;
            margin-top: 63px;

            .ourWorkListTitle {
                font-family: "Brown Sugar";
                font-size: 20px;
                font-weight: normal;
                font-style: normal;
                color: #1d1d1d;

            }

        }

        .ourWorkLink {
            display: flex;
            flex-direction: column;
            gap: 20px;



            .link {
                font-family: "Montserrat";
                text-decoration: none;
                font-size: 15px;
                font-weight: normal;
                font-style: normal;
                color: #1d1d1d;

                &:hover {
                    color: #685f5f;
                }
            }
        }
    }

    .ourWorkRightPart {


        position: relative;
        cursor: default;

        .text {
            position: absolute;
            font-family: "Brown Sugar";
            top: 30px;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            text-align: left;
            color: #1d1d1d;

            .textSpan {
                font-family: "Montserrat";
                font-size: 10px;
                font-weight: normal;
                font-style: normal;
                text-align: center;
                color: #1d1d1d;
                padding-bottom: 5px;
            }
        }

        .cardsWrapper {
            display: flex;
            gap: 10px;


        }

        .cardWrapperClass {
            padding: 10px;
            margin-top: 22px;
            width: 267px;
            height: 322px;
            border-color: #c1c1c1;
            border-width: 0.5px;
            border-style: solid;
            background: #ffffff;
            cursor: pointer;

            &:hover {
                background-color: #000000;

                p {
                    color: #ffffff;
                }
            }


        }

        .imgClass {
            width: 247px;
            height: 202px;
            border-color: #000000;
            border-width: 1px;
            object-fit: cover;

        }

        .descriptionWrapperClass {
            display: flex;
            justify-content: space-between;
            padding-inline: 32px;

        }

        .nameClass {
            font-family: "Brown Sugar";
            margin-top: 15px;
            margin-bottom: 3px;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            text-align: center;
            color: #1d1d1d;
        }

        .descriptionClass {
            font-family: "Montserrat";
            font-size: 12px;
            font-weight: normal;
            line-height: 35px;
            font-style: normal;
            text-align: left;
            color: #1d1d1d;
            margin-bottom: 0;
        }

        .dateClass {
            font-family: "Brown Sugar";
            font-size: 15px;
            font-weight: normal;
            font-style: normal;
            text-align: center;
            color: #1d1d1d;
        }
    }



}