@import "/node_modules/hamburgers/_sass/hamburgers/hamburgers.scss";

.navHeader {
    position:fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 15px 15px;
   
    background-color: #fff;
    @media (min-width:1202px) {
        display: none;
    }
    @media (max-width:300px) {
        padding: 15px 5px;
        
    }

    .headerLeftPart {
        display: flex;
        position: relative;
        z-index: 1;
        margin-top: 6px;
        gap: 4px;

        .headerTitle {
            cursor: pointer;
            font-family: "Brown Sugar";
            font-size: 28px;
            font-weight: normal;
            font-style: normal;
            text-align: left;
            color: #1d1d1d;
            @media (max-width:300px) {
                padding: 5px;
                font-size: 23px;
            }
        }
    }
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 101;
    transition: opacity 0.3s ease-in-out;

    @media (min-width:1202px) {
        display: none;
    }
}

.sideNav {
    position: fixed;
    visibility: hidden;
    background-color: #fff;
    width: clamp(272px, 95vw, 420px);
    height: 100%;
    // position: absolute;
    top: 0;
    left: 0;
    z-index: 104;
    padding: 10px 4px;
    transition: all 0.5s ease-in-out;
    transform: translateX(-100%);
    padding-top: 15px;
    @media (max-width:400px) {
        width: 100%;
    }



    .sidenavFirstRow {
        display: flex;
        justify-content: space-between;
    }

    .mobileNavHeader {
        font-family: "Brown Sugar";
        display: flex;
        padding: 7px 15px;
        gap: 10px;
        margin-left: 5px;
        font-size: 22px;
        font-weight: normal;
        font-style: normal;
        text-align: center;
        color: #1d1d1d;
        margin-top: 10px;

         .brand {
            font-family: "Brown Sugar";
            text-align: center;
            font-size: 22px;
            font-weight: normal;
            font-style: normal;
            text-align: left;
            color: #1d1d1d;
           margin-top: 3px;
        }


    }

    .cancelButton {
        margin-top: 10px;
        margin-right: 10px;
        cursor: pointer;

        &:hover line {
            stroke: #a09494;
        }

    }

    .sideLinksUl{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 25px;

        .mobileNavLink {
            padding-inline: 2px 4px;
            text-decoration: none;
            color: #000;
            font-size: 18px;

           
        }
        li {
            list-style-type: none; 
            cursor: pointer;
            margin: 0; 
            padding: 0; 
          }
          

        .dropdownLink{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-right: 15px;
            cursor: pointer;
            
           
            

            .dropDownTitle{
                text-align: center;
                margin-bottom: 0;
                &:hover {
                    color: #464040;
                    cursor: pointer;
                }
            }

           
        }
        .dropDownElementsUl{
            max-height: 0; 
            overflow: hidden; 

            transition: max-height 0.4s ease-in-out; 

            li {
             
                margin:7px 0;
             
            }
         }

         .isDropDown{
            max-height: 700px;
           
         }


    }
    

}

.isMobileClass {
    visibility: visible;
    transform: translateX(0);

    @media (min-width:1202px) {
        display: none;
    }
}