.wrapper {
    .swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .swiper-pagination {
        position: relative;
        bottom: 60px;

        @media (max-width:962px) {
            left: -90px;
        }

        @media (max-width:562px) {
            bottom: 0;
            left: 0;
        }

        @media (max-width:420px) {
            bottom: -10px;
            left: 0;
        }

    }
}


.aboutUsWrapper {
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    width: 100%;
    padding-inline: 9%;
    margin-top: 200px;
    margin-bottom: 120px;
    gap: 90px;


    @media (max-width:1524px) {
        grid-template-columns: 1fr 2fr;
    }

    @media (max-width:1244px) {
        grid-template-columns: 1fr 2.4fr;
        gap: 80px;

    }

    @media (max-width:1122px) {
        grid-template-columns: 1fr 2.4fr;
        padding-inline: 4%;

    }

    @media (max-width:962px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 200px;
        margin-top: 50px;
    }

    @media (max-width:572px) {
        margin-bottom: 390px;
        gap: 300px;
    }

    .leftPart {
        margin-top: 170px;

        @media (max-width:1322px) {
            margin-top: 120px;
        }

        .title {
            width: clamp(300px, 31vw, 556px);
            font-family: "Brown Sugar";
            font-size: clamp(50px, 6.3vw, 100px);
            font-weight: normal;
            font-style: normal;
            text-align: left;
            color: #1d1d1d;

            @media (max-width:962px) {
                width: clamp(270px, 41vw, 556px);
            }

        }

        .description {
            width: clamp(320px, 33vw, 565px);
            height: 139px;
            font-family: "Montserrat";
            font-size: 15px;
            font-weight: normal;
            line-height: 40px;
            font-style: normal;
            text-align: left;
            color: #1d1d1d;

            @media (max-width:962px) {
                width: clamp(240px, 79vw, 556px);
            }
        }
    }

    .rightPart {
        position: relative;

        @media (max-width:962px) {
            margin-left: -140px;
        }

        @media (max-width:430px) {
            margin-left: -10px;
        }

        .icon {
            position: absolute;
            width: 178px;
            height: 178px;
            top: -75px;
            left: -60px;
            z-index: 4;

            @media (max-width:527px) {
                display: none;
            }
        }

        .cardsWrapper {
            position: relative;
            display: flex;
            gap: 25px;


            .img1 {
                z-index: 2;
            }

            .img2 {
                position: absolute;
                left: 280px;
                top: 80px;
                z-index: 1;

                &:hover {

                    z-index: 3;
                }

                @media (max-width:1270px) {
                    left: 200px;
                }

                @media (max-width:572px) {
                    left: 130px;
                }

                @media (max-width:572px) {
                    top: 300px;
                }

                @media (max-width:430px) {
                    left: 0px;
                    top: 340px;
                }

            }


            .cardWrapperClass {
                width: 471px;
                height: 613px;
                border-color: #c1c1c1;
                border-width: 0.5px;
                border-style: solid;
                background: #ffffff;
                padding: 20px;
                cursor: pointer;

                &:hover {
                    border-color: #c1c1c1;
                    background: #1d1d1d;

                    .nameClass {
                        color: #fff;
                    }

                    .descriptionWrapperClass {
                        .descriptionClass {
                            color: #fff;
                        }
                    }

                    .dateClass {
                        color: #fff;
                    }



                }

                @media (max-width:1492px) {
                    width: 431px;
                    height: 573px;
                }

                @media (max-width:1408px) {
                    width: 331px;
                    height: 473px;
                }

                @media (max-width:614px) {
                    padding: 10px;
                    width: 267px;
                    height: 322px;
                }




                .imgClass {
                    width: 431px;
                    height: 387px;

                    @media (max-width:1492px) {
                        width: 391px;
                        height: 347px;
                    }

                    @media (max-width:1408px) {
                        width: 291px;
                        height: 247px;
                    }

                    @media (max-width:614px) {
                        width: 247px;
                        height: 202px;
                    }
                }

                .nameClass {
                    font-family: "Brown Sugar";
                    font-size: 25px;
                    font-weight: normal;
                    font-style: normal;
                    text-align: center;
                    color: #1d1d1d;
                    padding-top: 37px;

                    @media (max-width:614px) {
                        margin-top: 15px;
                        margin-bottom: 3px;
                        font-size: 16px;
                        padding-top: 0;
                    }

                }

                .descriptionWrapperClass {
                    display: flex;
                    justify-content: space-around;

                    .descriptionClass {
                        font-family: "Montserrat";
                        font-size: 15px;
                        font-weight: normal;
                        line-height: 35px;
                        font-style: normal;
                        text-align: left;
                        color: #1d1d1d;

                        @media (max-width:614px) {
                            font-size: 12px;
                        }
                    }


                }

                .dateClass {
                    font-family: "Brown Sugar";
                    font-size: 22px;
                    font-weight: normal;
                    font-style: normal;
                    text-align: center;
                    color: #1d1d1d;

                    @media (max-width:614px) {
                        font-size: 15px;
                        margin-top: -15px;
                    }
                }
            }


        }

    }
}