#nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 11110;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.6vw 2% 10px;
    background-color: #ffffff;
   

    @media (max-width:1200px) {
        display: none;
    }

    .navLeftPart {
        display: flex;




        .navBrandTitle {
            font-family: "Brown Sugar";
            font-size: 26px;
            font-weight: normal;
            font-style: normal;
            text-align: left;
            color: #1d1d1d;
            margin-bottom: 0;

        }

        .linkTitle {
            text-decoration: none;
        }

    }

    .navMiddlePart {
        display: flex;
        align-items: center;
        gap: clamp(20px, 4vw, 80px);

        .navlinkk {
            font-size: 15px;
            font-weight: normal;
            font-style: normal;
            text-align: center;
            color: #1d1d1d;
            text-decoration: none;
            cursor: pointer;

            &:hover {
                color: #423f3f;
            }

            .insideNavlink{
                display: flex;
                align-items: center;
                gap: clamp(5px,1vw,18px);
                p{
                    margin-bottom: 0;
                }
            }
        }

        .ourWorkLink{
        
            .block{
                position: absolute;
                width: 95px;
                height: 100px;
                background-color:transparent;

            }

           &:hover {
           .ourWorkWrapper{
            visibility: visible;
           }
        }
        }
    }

    .navRightPart {
        display: flex;
        align-items: center;
        gap: clamp(15px, 3.5vw, 80px);
        @media (max-width:1208px) {
            gap:15px;
        }


        .applyNowText {
            font-size: 15px;
            font-weight: normal;
            font-style: normal;
            text-align: center !important;
            color: #1d1d1d;
            margin-bottom: 0;
        }

        .contanctUsButton {
            width: 138px;
            height: 49px;
            border-radius: 25px;
            background: #1d1d1d;
            font-size: 15px;
            font-weight: 500;
            font-style: normal;
            text-align: center;
            color: #ffffff;
        }
    }



}