.heroWrapper {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    background: linear-gradient(rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)),
        url("./hero-assets/d934f253b91002b21b8de5cf76390923.jpg");
    background-size: cover;
    background-position: 0 auto;
    height: fit-content;


    padding-bottom: 200px;

    @media (max-width:1080px) {
        display: flex;
        background-position: center;
        flex-direction: column;
        align-items: center;
        padding-bottom: 400px;
        padding-inline: 0;


    }

    .rightPart {
        position: relative;
        padding-top: 120px;
        padding-right: 4%;

        @media (max-width:1080px) {
            margin-top: 80px;
            padding-bottom: 50px;


        }
        // @media (max-width:576px) {
        //   display: flex;
        //   align-items: center;


        // }

        .img1 {
            position: absolute;
            width: clamp(200px, 20vw, 356px);
            left: 3vw;

            @media (max-width:1080px) {
                left: -110px;
                width: clamp(250px, 20vw, 356px);

            }

            @media (max-width:652px) {

                width: clamp(200px, 24vw, 356px);

            }
        }


        .img2 {
            position: absolute;
            width: clamp(300px, 27vw, 500px);
            top: 160px;
            left: 12.5vw;
            z-index: 2;

            @media (max-width:1080px) {
                left: -30px;
                width: clamp(340px, 27vw, 500px);

            }

            @media (max-width:726px) {
              display: none;

            }

          
        }

        .img22 {
            display: none;
            position: absolute;
            top: 160px;
            left: 12.5vw;
            z-index: 2;

         

            @media (max-width:726px) {
              display: block;
              width: clamp(200px, 37vw, 350px);
              top: 200px;
            left: 7.5vw;

            }
            @media (max-width:486px) {
               
                width: clamp(170px, 37vw, 350px);
                top: 260px;
              left: -4.5vw;
  
              }

              @media (max-width:328px) {
                display: block;
                width: clamp(170px, 37vw, 350px);
                top: 280px;
              left: -70px;
  
              }


          
        }

        .wrapperClass {
            position: absolute;
            top: 2.1vw;
            left: 20px;
            width: 185px;
            height: 185.1px;
            z-index: 2;
            @media (max-width:328px) {
            
              left: 250px;
  
              }

            @media (max-width:1080px) {
                top: 50pxvw;
                left: -130px;

            }

            .arrowSvgClass {
                // display: none;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);


            }
        }
    }

    .leftPart {
        background: url("./hero-assets/MODELKOS\ -\ AGENCY\ -\ MODELING\ -\ ACADEMY-\ \(1\).svg") no-repeat;
        background-position: -105px 10px;
        padding-left: 4%;
        @media (max-width:1080px) {
            background-position: 40px 60px;
            background-size: 200px 200px;
        }
        @media (max-width:1080px) {
            padding-inline: 4%;
        }

        .findModelWrapper {
            
            display: flex;
            gap: 20px;
            margin-top: 200px;

            @media (max-width:576px) {
                flex-direction: column;
                flex-wrap: wrap;
                padding-inline: 2%;
                justify-content: space-between;

            }

            .modelGender {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: clamp(200px, 19vw, 339px);
                height: 66.8px;
                border-color: #bbbbbb;
                border-width: 0.5px;
                border-style: solid;
                background: rgba(255, 255, 255, 0);
                 padding-inline: 10px;

                @media (max-width:584px) {
                    width: clamp(190px, 20.5vw, 399px);

                }
                @media (max-width:576px) {
                    width: 100%;
    
                }

                .textP {
                    display: flex;
                    align-items: center;

                    gap: 20px;


                    p {
                        font-family: "Montserrat";
                        font-size: 15px;

                        font-style: normal;
                        font-weight: 500;
                        color: #ffffff;
                        margin-bottom: 0;

                    }

                    img {
                        width: 12px;
                        height: 14px;
                    }
                }
            }

            .findLocation {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: clamp(220px, 20.5vw, 359px);
                height: 66.8px;
                border-color: #bbbbbb;
                border-width: 0.5px;
                border-style: solid;
                background: rgba(255, 255, 255, 0);
                padding-inline: 10px;

                @media (max-width:584px) {
                    width: clamp(190px, 20.5vw, 359px);

                }
                @media (max-width:576px) {
                    width: 100%;
    
                }

                .textP {
                    display: flex;
                    align-items: center;
                    gap: 20px;


                    p {
                        font-family: "Montserrat";
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 500;
                        color: #ffffff;
                        margin-bottom: 0;

                    }

                    img {
                        width: 12.7px;
                        height: 16.5px;
                    }
                }
            }

            .findModelBtn {
                display: flex;
                align-items: center;
                justify-content: center;
                width: clamp(100px, 12vw, 137px);
                height: 66.8px;
                background: #ffffff;
                font-family: "Montserrat";
                font-size: 15px;
                font-weight:normal;
                font-style: normal;
                color: #1d1d1d;
                cursor: pointer;
                @media (max-width:576px) {
                    width: 100%;
    
                }
            }
        }

        .textWrapper {
            position: relative;
            padding-top: 150px;

            @media (max-width:1080px) {

                padding-top: 120px;

            }



            .text1 {
                font-family: "Brown Sugar";
                font-size: clamp(50px, 6vw, 100px);
                font-weight: normal;
                font-style: normal;
                text-align: left;
                color: #ffffff;

                @media (max-width:1080px) {
                    text-align: center;
                    font-size: clamp(70px, 6vw, 100px);

                }

                @media (max-width:620px) {
                    font-size: clamp(40px, 11vw, 100px);
                }

            }

            .text2 {
                position: absolute;
                left: 19vw;
                font-family: "Brown Sugar";
                font-size: clamp(50px, 6vw, 100px);
                font-weight: normal;
                font-style: normal;
                text-align: left;
                color: #ffffff;

                @media (max-width:1080px) {
                    text-align: center;
                    font-size: clamp(70px, 6vw, 100px);
                    left: 4vw;
                }

                @media (max-width:620px) {
                    font-size: clamp(40px, 11vw, 100px);
                    left: 13vw;

                }
            }
        }
    }


}